* {
  float: left;
  padding: 10px;
}
input {
  width: 80%;
}
.content {
  width: 80%;
  margin: 0;
  background: #EEEEEE;
  border: 1px solid #e2e3f3;
  border-radius: 7px;
  color: #000;
  font-weight: bold;

}
.remove {
  width: 20%;
  margin: 0;
  color: #ff0000;
  font-size: 15px;
}
.remove span {
  color: #ff0000;
}
